
<ul class="nav nav-pills">
    <li routerLinkActive="active">
        <a
            [routerLink]="['/home']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">HOME
        </a>
    </li>
    <li routerLinkActive="active">
        <a
            [routerLink]="['/books']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">BOOKS
        </a>
    </li>
    <li routerLinkActive="active">
        <a
            [routerLink]="['/about']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">ABOUT
        </a>
    </li>
</ul>